.DS_Store
/.build
/dist
/output
/Packages
xcuserdata/
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
/external_assets/
/external_generated_packs/
